
{% extends 'layout.html' %}

{% block title %} Index {% endblock %}

{% block content %}
<table class="table table-striped table-hover">
    <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Modificar paciente</th>
        <th>
      </tr>
      {% for paciente in pacientes %}
      <tr>
        <td>{{paciente.dni}}</td>
        <td>{{paciente.nombre}}</td>
        <td>{{paciente.apellidos}}</td>
        <td>
          <a href="/paciente/{{paciente.id}}"><button type="button" class="btn btn-primary">Ver radiogradia del paciente</button></a>
          <a href="/paciente/{{paciente.id}}/edit"><button type="button" class="btn btn-secondary">Editar datos de paciente</button></a>


          <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Borrar Paciente
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">¿DESEAS BORRAR AL PACIENTE DE LA BASE DE DATOS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Si lo borras se borraran todos los datas y no podras recuperarlas. Presione "Confirmar" para borrar al paciente de la base de datos
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a href="/paciente/{{paciente.id}}/delete"><button type="button" class="btn btn-danger">Confirmar</button></a>
      </div>
    </div>
  </div>
</div>

        </td>
      </tr>
      {% endfor %}
</table>

<a href="/crear_paciente">
    <input type="button" value="Crear paciente">
</a>
{% endblock %}