{% extends 'layout.html' %}

{% block title %} Index {% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <form method="POST">
                    {% csrf_token %}
                    <legend class="border-bottom mb-4">Registro</legend>
                    <div class="form-group mb-3">
                        <label for="dni" class="form-label">DNI</label>
                        <input type="text" id="dni" name="username" class="form-control">
                    </div>

                    <div class="form-group mb-3">
                        <label for="first_name" class="form-label">Nombre</label>
                        <input type="text" id="first_name" name="first_name" class="form-control">
                    </div>

                    <div class="form-group mb-3">
                         <label for="dni" class="form-label">DNI</label>
                         <input type="text" id="dni" name="username"  class="form-control">
                    </div>

                    <div class="form-group mb-3">
                        <label for="last_name" class="form-label">Apellidos</label>
                        <input type="text" id="last_name" name="last_name" class="form-control">
                    </div>

                    <div class="form-group mb-3">
                         <label for="email" class="form-label">Correo:</label>
                         <input type="email" id="email" name="email" autocomplete="off" class="form-control">
                    </div>

                    <div class="form-group mb-3">
                        <label for="password1" class="form-label">Contraseña:</label>
                        <input type="password" id="password1" name="password1" class="form-control">
                        <span id="passwordHelpInline" class="form-text">Mas de 9 caracteres</span>
                    </div>

                    <div class="form-group mb-3">
                         <label for="password2" class="form-label">Confirmar Contraseña:</label>
                        <input type="password" id="password2" name="password2" class="form-control">
                    </div>
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </form>
                {{ error.dni }}

                <div class="pt-3">
                    <small class="text-muted">
                        Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}