{% extends 'layout.html' %}

{% block title %} Index {% endblock %}

{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">RADIOGRAFIAS</legend>
            <label for="img">radiografia</label>
            <input type="file" name="img" />
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">subir radiografia</button>
        </div>
    </form>
    </div>
  </div>
{% endblock %}